<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>

    {% include 'includes/css.html' %}
</head>
<body>

    {% include 'components/navbar.html' %}

    {% block content %}
<!--    Bloque de contenido-->
    {% endblock %}

    <footer>
        <p>&copy; <span id="year"></span> Todos los derechos reservados.</p>
    </footer>

    {% include 'includes/js.html' %}
{#    Si se requiere agregar código JavaScript específico para una página, se puede hacer dentro del #}
{#    bloque de contenido o creando un nuevo bloque para scripts.#}
    {% block script_js %}{% endblock %}
</body>
</html>